createdAt: "2019-11-16T09:15:07.967Z"
updatedAt: "2019-11-16T13:35:59.865Z"
type: "MARKDOWN_NOTE"
folder: "bd315eab0dfa8c7a5512"
title: "Введение в XML"
tags: []
content: '''
  ## Введение в XML
  **XML** ( англ. eXtensible Markup Language) — расширяемый язык разметки, предназначенный для хранения и передачи данных.
  
  Простейший XML-документ выглядит следующим образом:
  
  ```xml
  <?xml version="1.0" encoding="windows-1251"?>
  <book category="WEB">
     <title lang="en">Learning XML</title>
     <author>Erik T. Ray</author>
     <year>2003</year>
     <price></price>
  </book>
  ```
  
  Первая строка — это XML декларация. Здесь определяется версия XML (1.0) и кодировка файла. 
  На следующей строке описывается корневой элемент документа `<book>`. 
  Следующие 4 строки описывают дочерние элементы корневого элемента. 
  Последняя строка определяет конец корневого элемента `</book>`.
  
  Документ XML состоит из элементов (elements). 
  Элемент начинается открывающим тегом (start-tag) в угловых скобках, затем идет содержимое (content) элемента, после него записывается закрывающий тег (end-teg) в угловых скобках.
  
  Информация, заключенная между тегами, называется содержимым или значением элемента: 
  ```xml 
  <author>Erik T. Ray</author>
  ```
  
  Элементы могут содержать атрибуты, так, например, открывающий тег `<title lang="en">` имеет атрибут lang, который принимает значение en. Значения атрибутов заключаются в кавычки (двойные или ординарные).
  
  Некоторые элементы, не содержащие значений, допустимо записывать без закрывающего тега. 
  
  ```xml 
  <name first="Иван" second="Петрович" />
  ```
  
  ## Структура XML
  XML документ должен содержать корневой элемент. Этот элемент является «родительским» для всех других элементов. Все элементы в XML документе формируют иерархическое дерево.
  
  Все элементы могут иметь подэлементы (дочерние элементы):
  
  ```xml 
  <корневой>
     <потомок>
       <подпотомок>.....</подпотомок>
     </потомок>
  </корневой>
  ```
  ## Правила синтаксиса (Валидность)
  Структура XML документа должна соответствовать определенным правилам. XML документ отвечающий этим правилам называется валидным или синтаксически верным.
  
  **Основные правила синтаксиса XML:**
  
  Теги XML регистрозависимы — теги XML являются регистрозависимыми.
  
  ```xml 
  <Message>Это неправильно</message>
  <message>Это правильно</message>
  XML элементы должны соблюдать корректную вложенность:
  <b><i>Некорректная вложенность</b></i>
  <b><i>Корректная вложенность</i></b>
  ```
  
  Значения XML атрибутов должны заключаться в кавычки:
  ```xml 
  <note date="12/11/2007">Корректная запись</note>
  <note date=12/11/2007>Некорреткная запись</note>
  ```
  
  ## Сущности
  Некоторые символы в XML имеют особые значения и являются служебными. Если вы поместите, например, символ `<` внутри XML элемента, то будет сгенерирована ошибка, так как парсер интерпретирует его, как начало нового элемента.
  
  В примере ниже будет сгенерирована ошибка, так как в значении "ООО<Мосавтогруз>" атрибута НаимОрг содержатся символы `<` и `>`.
  
  ```xml 
  <НПЮЛ ИННЮЛ="7718962261" КПП="771801001" НаимОрг="ООО<Мосавтогруз>"/>
  ```
  
  Также ошибка будет сгенерирована и в следующем примере, если название организации взять в обычные кавычки (английские двойные):
  
  ```xml
  <НПЮЛ ИННЮЛ="7718962261" КПП="771801001" НаимОрг="ООО"Мосавтогруз""/>
  ```
  
  Чтобы ошибки не возникали, нужно заменить символ `<` на его сущность. 
  **В XML существует 5 предопределенных сущностей:**
  
  Таблица I.1 — Сущности
  |Сущность |	Символ |	Значение
  |---|---|---|
  |`&lt;`|	`<`	| меньше, чем|
  |`&gt;`|	`>`	|больше, чем|
  |`&amp;`|	`&`|	амперсанд|
  |`&apos;`|	`'`|	апостроф|
  |`&quot;`|	`"`|	кавычки|
  
  **Примечание**
  ❗Только символы `<` и `&` строго запрещены в XML. Символ `>` допустим, но лучше его всегда заменять на сущность.
  
  Таким образом, корректными будут следующие формы записей:
  
  `<НПЮЛ ИННЮЛ="7718962261" КПП="771801001" НаимОрг="ООО&quot;Мосавтогруз&quot;"/>`
  или
  
  `<НПЮЛ ИННЮЛ="7718962261" КПП="771801001" НаимОрг="ООО«Мосавтогруз»"/>`
  
  
  
  
  **Кодировки**
  Самыми распространенными кириллическими кодировками являются **Windows-1251** и **UTF-8**. Последняя является одним из стандартов, но большая часть ФНС отчетности имеет кодировку Windows-1251.
  
  *В XML файле кодировка объявляется в декларации:*
  `<?xml version="1.0" encoding="windows-1251"?>`
  Часто можно столкнуться с ситуацией, когда текстовый редаткор некорректно распознает кодировку и отображает кракозябры. В такой случае, необходимо выбрать кодировку вручную, для этого выполните:
  
  Таблица I.3 — Смена кодировки в разных программах
  |Программа|	Кодировка|
  |---|---|
  |Notepad++|	«Документ → Кодировка»|
  |Geany	|«Документ → Установить кодировку»|
  |Firefox	|«Вид → Кодировка»|
  |Chrome|	«Настройка → Дополнительные инструменты → Кодировка»|
  
  
'''
linesHighlighted: [
  194
]
isStarred: false
isTrashed: false
