createdAt: "2019-12-11T14:30:25.861Z"
updatedAt: "2019-12-16T14:30:36.476Z"
type: "MARKDOWN_NOTE"
folder: "129ef394d0726618bd70"
title: "ENG 2. Transactions"
tags: [
  "Eng"
]
content: '''
  ## ENG 2. Transactions
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  f
  f
  
  2
  2f
  f
  ## acid
  f
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
