createdAt: "2019-12-11T16:34:16.075Z"
updatedAt: "2019-12-11T16:45:45.303Z"
type: "MARKDOWN_NOTE"
folder: "129ef394d0726618bd70"
title: "RUS 1.1 Основное"
tags: []
content: '''
  ## RUS 1.1 Основное
  
  Нормализация
  Связи
  Ограничения, ссылочная целостность
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  1
  ## acid
'''
linesHighlighted: []
isStarred: false
isTrashed: false
