createdAt: "2019-11-16T13:35:46.216Z"
updatedAt: "2019-11-16T13:47:39.789Z"
type: "MARKDOWN_NOTE"
folder: "bd315eab0dfa8c7a5512"
title: "XML Schema"
tags: []
content: '''
  # XML Schema
  
  ## XSD схема
  **XML Schema**— язык описания структуры XML-документа, его также называют XSD. Как большинство языков описания XML, *XML Schema была задумана для определения правил, которым должен подчиняться документ*. Но, в отличие от других языков, XML Schema была разработана так, чтобы её можно было использовать в создании программного обеспечения для обработки документов XML.
  
  После проверки документа на соответствие, XML Schema читающая программа может создать модель данных документа, которая включает:
  + словарь (названия элементов и атрибутов);
  + модель содержания (отношения между элементами и атрибутами и их структура);
  + типы данных.
  
  Каждый элемент в этой модели ассоциируется с определённым типом данных, позволяя строить в памяти объект, соответствующий структуре XML-документа. Языкам объектно-ориентированного программирования гораздо легче иметь дело с таким объектом, чем с текстовым файлом.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
