createdAt: "2019-11-16T06:24:49.336Z"
updatedAt: "2019-11-16T06:24:56.861Z"
type: "MARKDOWN_NOTE"
folder: "f2bb564d8e8b712329fb"
title: "Kanban"
tags: []
content: "## Kanban"
linesHighlighted: []
isStarred: false
isTrashed: false
