createdAt: "2019-11-16T06:22:41.520Z"
updatedAt: "2019-11-16T06:23:41.220Z"
type: "MARKDOWN_NOTE"
folder: "f2bb564d8e8b712329fb"
title: "Agile methodology"
tags: []
content: '''
  ## Agile methodology
  - [Reddit English](http://bit.ly/2mOJPu7)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
