createdAt: "2019-12-16T15:27:20.047Z"
updatedAt: "2019-12-18T08:25:25.917Z"
type: "MARKDOWN_NOTE"
folder: "129ef394d0726618bd70"
title: "! Vocabulary ENG - RUS copy"
content: '''
  ## ! Vocabulary ENG - RUS
  
  ******
  **A**
  allow - разрешать, признавать, выделять, давать возможность, допускать
  among - среди, между
  
  ******
  **B**
  
  ******
  **C**
  
  ******
  **D**
  deal with ... - иметь дело с ...
  defines - определять, характеризовать, давать определения 
  
  ******
  **E**
  employ - принимать, нанимать, занятость
  
  ******
  **F**
  
  ******
  **G**
  
  ******
  **H**
  
  ******
  **I**
  eliminate - устранять,  игнорировать, изымать, исключать
  
  ******
  **J**
  
  ******
  **K**
  
  ******
  **L**
  
  ******
  **M**
  maintenance - тех. обслуживание, содержание, алименты
  maintenance legacy code - поддержка старого кода
  
  ******
  **N**
  
  ******
  **O**
  
  ******
  **P**
  pre-defined - предопределенные, заранее определенные
  
  ******
  **Q**
  
  ******
  **R**
  rarely - редко
  redundancy - избыточность, излишек
  
  **represent**ing - представляющий
  
  ******
  **S**
  **special**-**purpose** - спец. назначение
  
  ******
  **T**
  a technique - техника
  
  ******
  **U**
  up**com**ing - грядущий, новейший
  
  ******
  **V**
  
  ******
  **W**
  
  ******
  **X**
  
  ******
  **Y**
  
  ******
  **Z**
  
  
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: true
