createdAt: "2019-11-16T06:24:34.657Z"
updatedAt: "2019-11-16T06:24:45.922Z"
type: "MARKDOWN_NOTE"
folder: "f2bb564d8e8b712329fb"
title: "Scrum"
tags: []
content: "## Scrum"
linesHighlighted: []
isStarred: false
isTrashed: false
